<!--
##----------------------##
#   Ayoub BERDEDDOUCH    #
##----------------------##
-->
<html>
  <head>
    <title>Facial Expression Recognition</title>
  </head>

  <body>
  	<h1 align="center" style="font-style: bold;">Facial Expressin Recognition</h1>
  	<h2 align="center" style="font-style: bold;">Made with <span class="heart">❤</span> by <span style="font-style: italic;">Ayoub BERDEDDOUCH</span></h2>

  	<div align="center">
    	<img id="bg" width=900px height=600px src="{{ url_for('video_feed') }}">
    </div>
  </body>
  <style>.heart{color:#e25555;}</style>
</html>
